*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Poppins, sans-serif;
  
}


nav{
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 70px;
  padding: 20px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav-logo{
  max-width: 100px;
}

section{
  padding: 30px;
}

.hero-section{
  display: flex;
  flex-direction: column;
  /* has used to make image responsive */
  
}

.hero-image{
  width: 800px;
  align-self: center;
}

.hero-header{
font-size: 36px;
margin-bottom: 0;
text-align: center;

}

.hero-text{
  margin-top: 0;
  text-align: center;

}

.card-set{
  display: flex;
  justify-content: center;
}

.card{
  font-size: 14px;
  padding: 30px;
  line-height: 10px;
  background-size: contain;
}
.card-image{
  width: 200px;
  border-radius: 9px;
  margin-bottom: 15px;
  height: fit-content;
}


.card-gray{
  color: #918E9B;
}

.card-star{
  width: 15px;
}

.card-bold{
  font-weight: bold;
}

.card-badge{
  position: relative;
  width: fit-content;
  top: 30px;
  left: 10px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;

}